<%= form_for(colaborador) do |f| %>
  <% if colaborador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(colaborador.errors.count, "error") %> prohibited this colaborador from being saved:</h2>

      <ul>
      <% colaborador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
  <br>
  <div class="ls-form row container-fluid">
    <div class="page-header">
      <h1 align="center">Colaborador</h1>
    </div>
    <br>
    <fieldset>
      <div class="cadastro">
        <div class="row well">
          <label class="ls-label col-md-12">
            <b class="ls-label-text">Nome Completo</b>
            <%= f.text_field :nomecompleto %>
          </label>
          <label class="ls-label col-md-12">
            <b class="ls-label-text">Telefone</b>
            <%= f.text_field :telefone %>
          </label>
          <label class="ls-label col-md-12">
            <b class="ls-label-text">Endereço</b>
            <%= f.text_field :endereco %>
          </label>
          <label class="ls-label col-md-12">
            <b class="ls-label-text">Nome reduzido</b>
            <%= f.text_field :nomereduzido %>
          </label>
        </div>
      </div>
    </fieldset>


  <div class="actions" align="center">
    <%= f.submit "Salvar", class:"btn btn-primary"%>
    <%= link_to 'Voltar', colaboradors_path, class: "btn btn-success"%>
  </div>
<% end %>
