
<div class="ls-form row container-fluid">
    <div class="page-header">
      <h1 align="center">Relatórios</h1>
  </div>

<div class="container_relatorio">
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome do Relatório</th>
            <th>Inicio</th>
            <th>Final</th>
            <th>Download</th>          
          </tr>
        </thead>
        <tbody>
          <% @relatorios.each do |relatorio| %>
          <tr>
            <td><%=relatorio.file_name%></td>
            <td><%=relatorio.data_inicio.strftime("%d / %m / %Y")%></td>
            <td><%=relatorio.data_final.strftime("%d / %m / %Y")%></td>
            <td> <%= button_to 'Download', {:action => :download, :id => relatorio.id}, {class: 'ls-btn-xs'}%>
            </td>        
          </tr>
          <% end %>
        </tbody>
      </table>
      <hr>
       <center><%=link_to 'Novo Relatório', new_relatorio_path, class:"btn btn-primary"%></center>
    </div>
  </div>
</div>
