
<center>
	<p style="font-size: 14px"><b>Selecione o período</b></p>
	<br>

	<%= form_tag colabs_path, method: :get, class: 'search' do %>
		<div><p style="font-size: 14px">Data de Início <%= date_field_tag :data_inicio, @data_inicio %>
		Data Final <%= date_field_tag :data_final, @data_final %></div>
		<br>		
		 <%= submit_tag "Buscar", :class => 'btn btn-success' %>  <%= link_to 'Limpar', colabs_path,class: 'btn btn-default'%>
		 <br>
		 <br>
		
		 	
			
	<% end %>
</center> 

        