<div class="page-header" align="center">
  <header>
    <h1>Cadastrar Usuário</h1>  
  </header>
  <br>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div class="cadastro">
  <div class="row well">
        <label class="ls-label col-md-12">
          <b class="ls-label-text">Username</b>
          <%= f.text_field :username, autofocus: true %>
        </label> 
        <label class="ls-label col-md-12">
          <b class="ls-label-text">E-mail</b>
          <%= f.text_field :email, autofocus: false %>
        </label> 
        <label class="ls-label col-md-12">
          <b class="ls-label-text">Senha (<%= @minimum_password_length %> letras no mínimo)</b>
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
        </label>
        <label class="ls-label col-md-12">
          <b class="ls-label-text">Inserir senha novamente</b>
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </label>
      <div align="center">
        <br>
        <%= f.submit "Cadastrar", class: "btn btn-primary"%>
      </div>   
  </div>
</div>
<% end %>
