<nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <a class="navbar-brand">  <%= link_to (image_tag("favicon.png")), root_path, class: 'navbar-brand' %></a>      
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li> <%=link_to 'Inicio', root_path%></li>
          <li> <%=link_to 'Cadastrar' , new_cadastro_path%> </li>
          <% if current_user.role == "admin"%>
            <li> <%=link_to 'Usuários', cont_users_index_path%> </li>
            <li> <%=link_to 'Relatórios', relatorios_path%> </li>
            <li> <%=link_to 'Novo Relatório', new_relatorio_path%> </li>
            <li> <%=link_to 'Instituição', instituicos_path%> </li>          
          <% end %>
          <li> <%=link_to 'Colaboradores', colaboradors_path%> </li>              
          <li><%=link_to "Editar Perfil", edit_user_registration_path %></li>
          <li><%=link_to "Sair", destroy_user_session_path, :method => :delete%></li>
        </ul>
      </div>
    </div>
  </nav>