<script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
 
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 align="center">Instituição</h1>
        </div>
      </div>
    </div>
    
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <thead>
          <tr >
          <th>Nome Instituicao</th>
          <th>Id Cliente parceira</th>
          <th>Codigo Produto</th>
          <th>Codigo Empresa Parceira</th>
        </tr>
      </thead>
      <tbody>
        <% @instituicos.each do |instituico| %>
        <tr style="font-size: 15px">
          <td><%= instituico.nome_instituicao %></td>
          <td><%= instituico.id_cliente_parceira %></td>
          <td><%= instituico.codigo_produto %></td>
          <td><%= instituico.codigo_empresa_parceira %></td>
          <td align="center">
            <%= link_to 'Ver', instituico,class: 'btn btn-info btn-sm' %>
            <%= link_to 'Editar', edit_instituico_path(instituico),class: 'btn btn-success btn-sm'%>  
          </td>                
      </tr>      
      <% end %>
    </tbody>
  </table>
  <center><%= link_to 'Cadastrar', new_instituico_path,class: 'btn btn-primary' %></center>
 </div>
</div>
